.jumbotron {
    background-color: #f0f0f0;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.container {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

a{
    text-decoration: none;
}

h2 {
    color: #333;
    margin-top: 20px;
}

ul {
    list-style-type: disc;
    margin-left: 20px;
}

p {
    font-size: 16px;
    line-height: 1.5;
    color: #555;
}
h3{
    color: #333;
}
